@media (max-width: 600px) {
    body {
        height: auto;
    }

    img[usemap] {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    ul li {
        display: block;
        margin-bottom: 10px; 
    }
	
	.line {
		display: none;
	}

    .gridcontainer {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

}